/*----------------------------------------------------------------Général------------------------------------------------------------------*/
*
{
   font-family: 'Raleway', sans-serif;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
}

h2,h1,h3,h4
{
    font-weight:bold;
}

h2
{
    margin: 0;
    padding: 40px 0px 30px 0;
    font-size:x-large;
}

h4
{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: large;
}

body { scroll-behavior: smooth; }

header, main
{
    margin: 0 50px 0 50px;
}

a
{
    text-decoration: none;
    color: #000000;
}

span
{
    font-weight: bold;
}

/*--------------------------------------------------------Header,Barre de naviguation-----------------------------------------------------*/

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 30px 0 30px 0;
}

.logo
{
    cursor: pointer;
}

.logo img
{
    height: 70px;
    width: 100%;
}

header ul
{
    display: flex;
    list-style: none;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1); 
}

header ul li a:hover /*bordure au-dessus du menu*/
{
    border-top: 3px solid #0065fc;
    padding: 50px 30px 0px 30px;
    color: #0065fc;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.20);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.20);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.20);
    transition: all 200ms ease-in;
    transform: scale(1.20);
}

header ul li a
{
    margin-left: 60px;
    padding: 58px 30px 0px 30px;  
}

/*-----------------------------------------------------------------main--------------------------------------------------------------------*/

.titre-recherche h1
{
    font-size: 25px;
    font-weight:bolder;
    margin: 0;
}
.titre-recherche p
{
    margin:7px 0 0 0;
}
.titre-recherche
{
    padding-bottom: 20px;
}

/*-----------------------------------------------------------Barre de recherche------------------------------------------------------------*/

#recherche p
{
    padding: 10px 0 20px 0;
    font-weight:bold;
}

form
{
    display: flex;
}

input
{
    padding: 15px;
    width: 260px;
    border: 2px solid #f2f2f2;
    color: black;
    font-weight: bold;
    font-size: 18px;
    outline: none;
}

input[type=text]:focus
{
   border: 2px solid #deebff;
}

::placeholder
{
    color: #000000;
}

.bouton-desktop-tablette
{
    background-color: #0065fc;
    border: #0065fc;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    width: 140px;
    color:white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    overflow:hidden;
}

.bouton-desktop-tablette:before 
{
    content: "";
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
       white,
      transparent
    );
    opacity: 0.2;
    transition: all 650ms;
  }
  
  .bouton-desktop-tablette:hover:before 
  {
    right: 100%;
  }

.bouton-mobile
{
    background-color: #0065fc;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    border:none;
    width: 50px;
    display: none;
    position: relative;
}

.fa-location-dot
{
    background-color: #f2f2f2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: #f2f2f2 solid 2px;
    font-size: 19px;
    padding: 15px;
    display: flex;
}

/*-----------------------------------------------------------Filtres-----------------------------------------------------------------------*/
.filtrer
{
    display: flex;
    flex-direction: row;
}

.titre-filtres
{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
}

.bloc-filtres
{
    padding: 10px 0 10px 0;
}

.bloc-filtres :hover /*Effet de survol*/
{
    background-color: #deebff;
}

.type-filtre
{
  margin:20px 10px 20px 10px;
  border-radius:70px;
  border: #f2f2f2 2px solid;
  background-color:white;
  display: inline-flex;
  cursor:pointer;
  font-size:20px;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.type-filtre :hover
{
    background-color: transparent;
}

.type-filtre p 
{
  display: flex;         
  align-items: center; 
  margin: 0 32px 0 16px;
  font-weight: bold;
  font-size: 18px;
}

.type-filtre :hover /*Effet de survol*/
{
    color:#0065fc;  
}

.ico-filtre
{
  width:52px;
  height:52px;
  background:#deebff;
  border-radius:50%;

  display: flex;          
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}

.fa-filtre
{
    color: #0065fc; 
}

/*-----------------------------------------------------------Information-------------------------------------------------------------------*/

.info
{
    display: inline-flex;
    font-size:18px;
    padding: 0 0 30px 0; 
}

.info-ico
{
    width:35px;
    height:35px;
    border: #f2f2f2 2px solid;
    border-radius:50%;
  
    color:#fff;
    display: flex;          
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.info p
{
    display: inline-block;
    display: flex;         
    align-items: center; 
    margin: 0 32px 0 16px;
}

.fa-info
{
    color: #0065fc;
}

/*----------------------------------------------------------------Hebergements-------------------------------------------------------------*/

.card-images 
{
    background-color: white;
    border-radius: 20px;
    padding: 7px;
    box-shadow: 1px 4px 14px 1px #d7d8d9;
    block-size: 100%;
}
 
.card-photos 
{
    width:100%;
    height: 160px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/*Effet d'agrandissement*/
.card
{
-webkit-transition: all 1s ease; /* Safari et Chrome */
-moz-transition: all 1s ease; /* Firefox */
-ms-transition: all 1s ease; /* Internet Explorer 9 */
-o-transition: all 1s ease; /* Opera */
transition: all 1s ease;
}

.card:hover
{
-webkit-transform:scale(1.05); /* Safari et Chrome */
-moz-transform:scale(1.05); /* Firefox */
-ms-transform:scale(1.05); /* Internet Explorer 9 */
-o-transform:scale(1.05); /* Opera */
transform:scale(1.05);
}
/*-----------------Fin agrandissement--------------------*/

.card-blocs 
{
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  padding-bottom: 40px;
}

.card 
{
  flex:1;
  width: 100%;
}

.card h3,
.card p
{
   margin: 8px;
}

.card-icones
{
    padding: 0 0 5px 5px;
}

.etoile-bleu
{
    color: #0065fc;
    margin: -1px;
}

.etoile-grise
{
    color: #d7d8d9;
    margin: -1px;
}

#hebergements-a-marseille
{
    background-color: #f2f2f2;
    border-radius: 15px;
    width: 70%;
    padding: 0 40px 40px 40px;
}

#hebergements-a-marseille h4
{
    padding: 10px 0 10px 0;
}

#hebergements-a-marseille h4:hover /*Effet de survol*/
{
    color: #0065fc;
}

.card :hover /*Effet de survol*/
{
    background-color: #deebff;
}

/*------------------------------------------------------------les plus populaires----------------------------------------------------------*/

.titre-pop
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

aside
{
    padding: 0 40px 40px 40px;
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 30%;
    margin: 0 0 0 40px;
}

#hebergements
{
    display: flex;
}

.ho-pop
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 40px;
}

.hotel-pop 
{
  background-color: white;
  height: auto;
  padding: 1% 0 1% 1%;
  border-radius: 20px;
  display: flex;
}

.images-pop
{
   object-fit: cover;
   width: 40%;
   height: 180px;
   border-radius: 15px 0 0 15px;
   padding: 2px 0 2px 2px;
}

.hotel-pop:hover /*Effet de survol*/
{
    background-color: #deebff;
}

.texte-pop
{
   width: 50%;
   position: relative;
   left: 20px;
}  

.texte-pop h3,
.texte-pop p
{
    margin: 0;
    padding: 10px 0 0px 0;
}

.overflow
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ico-pop
{
    position: absolute;
    margin: 0;
    bottom: 10px;
}

/*Effet d'agrandissement*/
.hotel-pop
{
-webkit-transition: all 1s ease; /* Safari et Chrome */
-moz-transition: all 1s ease; /* Firefox */
-ms-transition: all 1s ease; /* Internet Explorer 9 */
-o-transition: all 1s ease; /* Opera */
transition: all 1s ease;
}

.hotel-pop:hover
{
-webkit-transform:scale(1.05); /* Safari et Chrome */
-moz-transform:scale(1.05); /* Firefox */
-ms-transform:scale(1.05); /* Internet Explorer 9 */
-o-transform:scale(1.05); /* Opera */
transform:scale(1.05);
}
/* fin d'effet d'agrandissement*/

/*----------------------------------------------------------Activités a Marseille----------------------------------------------------------*/

#activites-marseille
{
   margin: 30px 0 50px 0;
}

.activites
{
   width: 100%;
   height: 600px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.grande
{
   width: 23%;
   display: flex;
   flex-direction: column;
   border-radius: 15px;
   box-shadow: 5px 5px 5px 1px #f2f2f2;
   block-size: 100%;
}

.grande-images
{
   object-fit: cover;
   width: 100%;
   height: 555px;
   border-radius: 15px 15px 0px 0px;
}

.moyenne-petite1
{
   width: 23%;
   height: 600px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   block-size: 100%;
}

.moyenne-petite2
{
    width: 23%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    block-size: 100%;
}

.moyenne1
{
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.moyenne2
{
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.moyenne-images1
{
    object-fit: cover;
    width: 100%;
    height: 285px;
    border-radius: 15px 15px 0 0;
}

.moyenne-images2
{
    object-fit: cover;
    width: 100%;
    height: 255px;
    border-radius: 15px 15px 0 0;
}

.texte-activites
{
    padding-left: 25px;
}

.petite1
{
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.petite2 
{
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.petite-images1
{
   object-fit: cover;
   width: 100%;
   height: 190px;
   border-radius: 15px 15px 0 0;
}

.petite-images2
{
   object-fit: cover;
   width: 100%;
   height: 220px;
   border-radius: 15px 15px 0 0;
}

.texte-activites :hover /*Effet de survol*/
{
    color: #0065fc;
}

.activites h3
{
   margin: 5px 0px 5px 0px;
   padding: 5px 0px 5px 0px;
}

/*Effet d'agrandissement*/
.grande, .moyenne1, .moyenne2, .petite1, .petite2
{
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.grande:hover, .moyenne1:hover, .moyenne2:hover, .petite1:hover, .petite2:hover
{
    -webkit-transform:scale(1.05); /* Safari et Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* Internet Explorer 9 */
    -o-transform:scale(1.05); /* Opera */
    transform:scale(1.05);
}
/*Fin d'agrandissement*/

/*--------------------------------------------------------------footer---------------------------------------------------------------------*/

footer
{
    background-color:#f2f2f2;
    display: flex;
    flex-direction: row; 
    justify-content:flex-start;
    padding-bottom: 30px;
}

.contact
{
    display: flex;
    column-gap: 300px;
    width:100%;
    margin: 0 40px 0 40px;
}

.titre-contact
{
    font-weight: bolder;
    padding:0 0px 0px 0px;
}

.plus h4
{
    padding: 40px 0 20px 0;
    margin: 0;
}

.plus p
{
    cursor: pointer;
    padding:0 0 10px 0;
    margin: 0;
}

.plus p:hover /*Effet de survol*/
{
    color: #0065fc;
}

/*----------------------------------------------------------Responsive---------------------------------------------------------------------*/

/*----------------------Tablette-------------------*/
@media screen and (min-width: 768px) and (max-width:991px)
{
/*-------filtres----------*/
.bloc-filtres
{

    display: flex;
    flex-wrap: wrap;
}

.titre-filtres
{
    padding-top: 20px;
}

.filtrer
{
    flex-direction: column;
}

.type-filtre
{
    margin: 5px 15px 15px 0;
}

/*Hebergements a Marseille et Populaire*/
#hebergements
{
    display: flex;
    flex-direction: column;
}

#hebergements-a-marseille
{
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

aside 
{
    width: 100%;
    margin: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*-----Activites a Marseille-------*/

#activites-marseille
{
    padding: 0 20px 0 20px;
    margin: 0;
}

#titre-activites
{
    padding-left: 5px;
}

.activites
{
    flex-direction: column;
    height: auto;
}

.grande
{
    width: 100%;
    margin-bottom: 30px;
}

.grande-images,
.moyenne-images1,
.moyenne-images2,
.petite-images1,
.petite-images2
{
    height: 200px;
    width: 100%;
}

.moyenne-petite1,
.moyenne-petite2
{
    width: 100%;
    height: auto;
}

.moyenne1,
.petite1,
.petite2,
.moyenne2
{
    margin-bottom: 30px;
}

/*---------Footer-----------*/
.contact 
{
    display: flex;
    flex-direction: column;
    margin-left: 60px;   
}
}

/*-------------------------Mobile-------------------------*/
@media screen and (min-width: 300px) and (max-width: 767px) 
{
header,main
{
    margin: 0;
}

h3,h4
{
    font-size: medium;
}

h2
{
    font-size:large;
}

p 
{
    font-size: small;
}

/*------Barre de navigation-----*/
.logo img
{
    height: 60px;
    width: 100%;
}

.logo
{
    padding-left: 80px;
}

header
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
    padding-right: 40px;
    border-bottom:#f2f2f2 5px solid;
    padding-bottom: 0px;
}

header ul li a
{
    margin: 0;
}

header ul li a:hover /*Effet de survol*/
{
    margin: 0;
    border-top: 0;
    padding: 0 30px 17px 30px;
    border-bottom: #0065fc 4px solid;
}

/*--------Barre de recherche------*/
.titre-recherche
{
    padding: 25px 0 25px 20px;
}

.titre-recherche h1 
{ 
    font-size: large;
}

span 
{
    display: flex;
    flex-wrap: nowrap;
    text-align: start;
    font-weight: bold;
    font-size: large;
}

.search
{
    padding: 0 20px 5px 20px ;
}

.bouton-desktop-tablette
{
    display: none;
}

input
{
    width: 210px;
    height: 50px;
    position: absolute;
    margin-left:40px;
    background-color:white;
    font-size:18px;
}

.bouton-mobile
{
    background-color: #0065fc;
    border-radius: 15px;
    color: white;
    border:none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    left: 190px;
    top:0.3px;
}

.bouton-mobile :hover
{
    color: #deebff;
}

.fa-location-dot
{
    background-color: #f2f2f2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 50px;
    font-size: 19px;
    padding: 15px;
    position: relative;
    right: 7px;
}
/*------------Filtres----------*/

.titre-filtres
{
    padding: 25px 0 5px 25px;
    font-size: medium;
}

.filtrer
{
    display:flex;
    flex-direction: column;
}

.type-filtre
{
    margin: 0 0 15px 15px;
}

.type-filtre p 
{
    font-size: medium;
}

/*info*/

.info
{
    padding: 20px 0 30px 20px;
}

.info-ico
{
   width: 28px;
   height: 28px;
}

/*-Hebergements et populaire-*/

#titre-hebergements
{
    padding-left: 5px;
}

#hebergements
{
    display: flex;
    flex-direction: column-reverse;
}

aside
{
    width: 100%;
    border-radius: 0%;
    margin: 0;
    padding: 0 20px 30px 20px;
}

.ho-pop
{
    row-gap: 10px;
}

.etoile-noire
{
    font-size: 12px;
    padding-top: 12px;
}

#hebergements-a-marseille
{
    width: 100%;
    background-color: white;
    padding: 0;
}

#titre-hebergements
{
    margin-left: 20px;
}
.card-blocs
{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 20px 0 20px;
}

.card
{
    padding-bottom: 15px;
}

#hebergements-a-marseille h4
{
    padding-left: 5px;
    margin-left: 20px;
}

/*----Activites à Marseille----*/

#activites-marseille
{
    padding: 0;
    margin: 0 20px 0 20px;
}

#titre-activites
{
    padding-left: 5px;
}

.activites
{
    flex-direction: column;
    height: auto;
}

.grande
{
    width: 100%;
    margin-bottom: 20px;
}

.grande-images,
.moyenne-images1,
.moyenne-images2,
.petite-images1,
.petite-images2
{
    height: 200px;
    width: 100%;
}

.moyenne-petite1,
.moyenne-petite2
{
    width: 100%;
    height: auto;
}

.moyenne1,
.petite1,
.petite2,
.moyenne2
{
    margin-bottom: 20px;
}

/*-------------footer----------*/

.contact
{
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 20px;
}

}

/*-----------Ecran d'ordinateur plus petit-----------*/
@media screen and (min-width: 992px) and (max-width:1389px)
{
/*---------global---------*/
header,main
{
    margin: 0 30px 0 30px;

}

h2
{
    font-size: 22px;
}

h3
{
    font-size: 17px;
}

/*-------recherche---------*/
input
{
    padding: 15px;
    width: 220px;
    border: 2px solid #f2f2f2;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    outline: none;
}

/*--------filtres-----------*/
.titre-filtres
{
    position: relative;
    margin-right: 5px;
    font-size: 18px;
    font-weight: bold;
}

.filtrer
{
    position: absolute;
    padding-bottom: 50px;
}

.type-filtre
{
    font-size: 18px;
    margin: 15px 5px 15px 5px;
}

.info
{
    margin-top: 110px;
}

/*--hebergements et populaires--*/
#hebergements-a-marseille
{
    padding: 0 30px 10px 30px;
}

.card-blocs
{
    column-gap: 20px;
    padding-bottom: 20px;
}

aside 
{
    padding: 0 30px 0 30px;
    margin-left: 20px;
}

.ho-pop
{
    row-gap: 20px;
}

.etoile-noire
{
    padding-top: 7px;
}

/*-------footer------*/
.contact
{
   column-gap:150px;
}
}